#mealsItemdiv img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px soild burlywood;
}

.mealsItemdivCss {
    border: 1px solid rgb(235, 231, 221);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#mealItemdetails {
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px 30px gray;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#mealItemdetails img {
    width: 400px;
    height: 300px;
    border: 2px soild bisque;
    border-radius: 20px;
    text-align: center;
}


/* .font-p-ingredeient>ul>li {
    font-size: 10px;
} */